<include file="Login/header" />

<div class="reset-wrapper">

	<div class="header">

		<img src="INDEX_IMG/login-logo.png" alt="">

		<a href="/u-login" class="fr"><span>{:L('HAVE_ACCOUNT')}？</span>{:L('LOG_IN')}</a>

	</div>

	<div class="user-reset-main">

		<div class="user-reset-tab">

			<div class="tab-item current"><span>1</span><p>{:L('SELECT_FIND_WAY')}</p></div>

			<div class="line current"></div>

			<div class="tab-item current"><span>2</span><p>{:L('SET_PASSWORD')}</p></div>

			<div class="line current"></div>

			<div class="tab-item current"><span>3</span><p>{:L('RETRIEVE_SUCCESS')}</p></div>

		</div>

		<div class="user-reset-success">

			<img src="__PUBLIC__/img/app-success.png" alt="">

			<p>{:L('RESET_SUCCESS')}</p>

			<a href="/u-login">{:L('LOG_IN')}</a>

		</div>

	</div>

</div>

