<include file="Login/header" />

<div class="login-wrapper reset-wrapper">

	<div class="header">

		<img src="INDEX_IMG/login-logo.png" alt="">

		<a href="/u-login" class="fr"><span>{:L('HAVE_ACCOUNT')}？</span>{:L('LOG_IN')}</a>

	</div>

	<div class="user-main user-reset-main">

		<div class="user-reset-tab">

			<div class="tab-item current"><span>1</span><p>{:L('SELECT_FIND_WAY')}</p></div>

			<div class="line current"></div>

			<div class="tab-item current"><span>2</span><p>{:L('SET_PASSWORD')}</p></div>

			<div class="line"></div>

			<div class="tab-item"><span>3</span><p>{:L('RETRIEVE_SUCCESS')}</p></div>

		</div>

		<div class="user-reset-form">

			<div class="user-form">

				<form action="" id="reset-form">

					<div class="user-form-item" id="username">

						<i class="iconfont icon-account"></i>

						<eq name="way" value="email">

							<input type="text" name="email" placeholder="{:L('ENTER_EMAIL')}" autocomplete="off">

						<else />

							<input type="text" name="phone" placeholder="{:L('ENTER_MOBILE')}" autocomplete="off">

						</eq>

					</div>

					<div class="user-form-item">

						<i class="iconfont icon-verify"></i>

						<input type="text" name="code" placeholder="{:L('IMAGE_CODE')}" autocomplete="off">

						<input type="button" class="verify-btn" onclick="getVerifyCode('reset')" id="code" value="{:L('GET_CODE')}">

					</div>

					<div class="user-form-item">

						<i class="iconfont icon-password"></i>

						<input type="password" name="password" placeholder="{:L('ENTER_PASSWORD')}" autocomplete="off">

					</div>

					<div class="user-form-item">

						<i class="iconfont icon-sure-password"></i>

						<input type="password" name="sure_password" placeholder="{:L('ENTER_SURE_PASSWORD')}" autocomplete="off">

					</div>

					<input type="hidden" name="way" value="{$way}">

					<div class="user-form-item"><div class="slide-verify" id="slide-verify"></div></div>

					<div class="user-form-item"><a href="javascript:" class="submit-btn" id="reset-submit">{:L('SUBMIT')}</a></div>

				</form>

			</div>

		</div>

	</div>

	<script type="text/javascript">

		var countdown_name = 'user_reset_countdown';

		if($.cookie(countdown_name) > 0) countDownTime("code",countdown_name);

		loadSlideVerify();

	</script>

</div>