<extend name="Public:common"/>

<block name="crumb1">{:L('TICKET_SETTING')}</block>

<block name="content">

    <div class="feeldesk-list">

        <div class="feeldesk-list-header clearfix">

            <div class="header-left">

                <notempty name="data.auth.create">

                    <a href="javascript:" onclick="openFormWindow(this,'{:U(\'create\')}')" class="createBtn" title="{:L('NEW_FAST_GROUP')}">
                        <i class="iconfont icon-xinzeng"></i>{:L('NEW_FAST_GROUP')}
                    </a>

                </notempty>

            </div>

            <div class="header-right">

                <form action="{$controllerAndAction}" method="get" class="fr">

                    <div class="compact-search">

                        <i class="iconfont icon-search"></i>

                        <input type="text" name="keyword" value="{$keyword}" placeholder="{:L('ENTER_GROUP_NAME')}"/>

                        <a href="javascript:" class="searchBtn">{:L('SEARCH')}</a>

                    </div>

                </form>

            </div>

        </div>

        <div class="feeldesk-list-content">

            <div class="feeldesk-list-main">

                <table class="layui-table" lay-skin="nob">

                    <thead>

                    <tr>

                        <th class="left">{:L('FAST_GROUP_NAME')}</th>

                        <th>{:L('OPERATION')}</th>

                    </tr>

                    </thead>

                    <tbody>

                        <empty name="data.fastReplyType">

                            <tr class="nodata center"><td colspan="2">{:L('NO_DATA')}</td></tr>

                        <else />

                            <volist name="data.fastReplyType" id="vo">

                                <tr>

                                    <td class="left">{$vo.type_name}</td>

                                    <td class="feeldesk-list-operate">

                                        <i class="iconfont icon-dian"></i>

                                        <div class="operate-panel hidden">

                                            <php>$id = encrypt($vo['fast_type_id'],'FASTREPLYTYPE');</php>

                                            <notempty name="data.auth.editor">

                                                <a href='javascript:' title="{:L('EDITOR')}" onclick="openFormWindow(this,'{:U(\'editor\',[\'id\'=>$id])}')">
                                                    {:L('EDITOR')}
                                                </a>

                                            </notempty>

                                            <notempty name="data.auth.delete">

                                                <a href="{:U('delete',['id'=>$id])}" load="async">{:L('DELETE')}</a>

                                            </notempty>

                                        </div>

                                    </td>

                                </tr>

                            </volist>

                        </empty>

                    </tbody>

                </table>

            </div>

            <notempty name="data.page"><div class="feeldesk-list-footer"><div class="user-page">{$data.page}</div></div></notempty>

        </div>

    </div>

</block>