<extend name="Public:common"/>

<block name="crumb1">{:L('TICKET_SETTING')}</block>

<block name="content">

    <div class="feeldesk-list">

        <div class="feeldesk-list-header clearfix">

            <div class="header-left">

                <notempty name="data.auth.create">

                    <a href="javascript:" onclick="openFormWindow(this,'{:U(\'create\')}')" class="createBtn" title="{:L('NEW_QUICK_REPLY')}">
                        <i class="iconfont icon-xinzeng"></i>{:L('NEW_QUICK_REPLY')}
                    </a>

                </notempty>

            </div>

            <div class="header-right">

                <div class="compact-menu">

                    <a href="javascript:" id="uploadFile" title="{:L('IMPORT_QUICK_REPLY')}"><i class="iconfont icon-upload-white"></i></a>

                    <a href="__ROOT__/Attachs/excel/Quick reply.xlsx" title="{:L('DOWNLOAD_TEMPLATE')}"><i class="iconfont icon-download fts16"></i></a>

                </div>

                <form action="{$controllerAndAction}" method="get" class="fr">

                    <div class="compact-search">

                        <i class="iconfont icon-search"></i>

                        <input type="text" name="keyword" value="{$keyword}" placeholder="{:L('ENTER_TITLE')}"/>

                        <a href="javascript:" class="searchBtn">{:L('SEARCH')}</a>

                    </div>

                </form>

            </div>

        </div>

        <div class="feeldesk-list-content">

            <div class="feeldesk-list-main">

                <table class="layui-table" lay-skin="nob">

                    <thead>

                        <tr>

                            <th>{:L('FAST_GROUP_NAME')}</th>

                            <th>{:L('TITLE')}</th>

                            <th>{:L('STATUS')}</th>

                            <th>{:L('CREATE_TIME')}</th>

                            <th>{:L('OPERATION')}</th>

                        </tr>

                    </thead>

                    <tbody>

                    <empty name="data.fastReply">

                        <tr class="nodata center"><td colspan="4">{:L('NO_DATA')}</td></tr>

                    <else />

                        <volist name="data.fastReply" id="vo">

                            <tr>

                                <td>{$fastReplyType[$vo['fast_type_id']]['type_name']}</td>

                                <td>{$vo.fast_title}</td>

                                <td>

                                    <eq name="vo.activity" value="1">

                                        <span class="open-status disable">{:L('DISABLE')}</span>

                                    <else />

                                        <span class="open-status enable">{:L('ENABLE')}</span>

                                    </eq>

                                </td>

                                <td>{$vo.create_time|getDates}</td>

                                <td class="feeldesk-list-operate">

                                    <i class="iconfont icon-dian"></i>

                                    <div class="operate-panel hidden">

                                        <php>$id = encrypt($vo['fast_id'],'FASTREPLY');</php>

                                        <notempty name="data.auth.editor">

                                            <a href='javascript:' title="{:L('EDITOR')}" onclick="openFormWindow(this,'{:U(\'editor\',[\'id\'=>$id])}')">
                                                {:L('EDITOR')}
                                            </a>

                                        </notempty>

                                        <if condition="$data['auth']['delete']">

                                            <a href="{:U('delete',['id'=>$id])}" load="async">{:L('DELETE')}</a>

                                        </if>

                                    </div>

                                </td>

                            </tr>

                        </volist>

                    </empty>

                    </tbody>

                </table>

            </div>

            <notempty name="data.page"><div class="feeldesk-list-footer"><div class="user-page">{$data.page}</div></div></notempty>

        </div>

    </div>

    <script type="text/javascript">importExcel('');</script>

</block>