<!-- 开源版本需保留版权信息，请谨慎删除；推荐购买商业授权，支持正版 -->
<div class="beian flex-left">
    <div class="flex-left mr5"><p>Copyright © 2014 Powered by </p></div>
    <a target="_blank" href="https://www.feeldesk.com.cn/" class="mr10" style="color:#2c6ee5">FeelDesk</a>
</div>

<style>

    .beian {width: 56%;position: absolute;bottom: 20px;left: 59%;transform: translate(-28%, 0);}

    .flex-left {display: flex;align-items: center;justify-content: left;font-size: 12px;}

    .mr5 {margin-right:5px;}

    .mr10 {margin-right:10px;}

</style>
