<!-- 开源版本需保留版权信息，请谨慎删除；推荐购买商业授权，支持正版 -->
<div class="copyright flex-left">
  <div class="flex-left mr5"><p>Copyright © 2014 Powered by </p></div>
  <a target="_blank" href="https://www.feeldesk.com.cn/" class="mr10" style="color:#2c6ee5">FeelDesk</a>
</div>

<style>

  .copyright {width: 100%;position: absolute;bottom: 0;z-index: 100000;background: #F2F3F8;height: 35px;left: 0;}

  .flex-left {display: flex;align-items: self-end;justify-content: center;font-size: 12px;}

  .mr5 {margin-right:5px;}

  .mr10 {margin-right:10px;}

</style>
