<extend name="Public:common"/>

<block name="crumb1">{:L('TICKET_MANAGER')}</block>

<block name="crumb2"><if condition="ACTION_NAME eq 'processTicket'">{:L('PROCESS_SUB_TICKET')}<elseif condition="ACTION_NAME eq 'myTicket'" />{:L('MY_SUB_TICKET')}</if></block>

<block name="rightHeader">

    <style type="text/css">

        .item-content .list-item th.checkbox, .list-item td.checkbox{width: 1px;padding: 14px 14px 14px 10px;}

        .filter-menu .layui-form-checkbox,.process-panel .layui-form-checkbox{display: none !important;}

    </style>

    <!-- NAV -->
    <div class="right-header fr clearfix">

        <ul class="ticket-nav fr">

            <li v=1 class="<eq name='view_source' value='minimalist'>active</eq>">

                <eq name='view_source' value='board'>

                    <a href="/subTicket/{$Think.ACTION_NAME}?view_source=minimalist"><i class="iconfont icon-jijian"></i><span>{:L('MINIMALIST')}</span></a>

                <else />

                    <i class="iconfont icon-jijian"></i><span>{:L('MINIMALIST')}</span>

                </eq>

            </li>

            <li v=2 class="<eq name='view_source' value='list'>active</eq>">

                <eq name='view_source' value='board'>

                    <a href="/subTicket/{$Think.ACTION_NAME}?view_source=list"><i class="iconfont icon-liebiao"></i><span>{:L('LIST')}</span></a>

                <else />

                    <i class="iconfont icon-liebiao"></i><span>{:L('LIST')}</span>

                </eq>

            </li>

        </ul>

    </div>

</block>

<block name="content">

    <div class="ticket-item">

        <form action="/subTicket/{$Think.ACTION_NAME}" method="get" id="searchFilter" class="layui-form">

			<input type='hidden' name='view_source' value='{$view_source}' id='viewSource'/>

            <div class="item-header clearfix">

                <!-- 右侧按钮 -->
                <div class="item-header-right fr">

                    <div class="ticket-search clearfix">

                        <input type="checkbox" name="show_end_sub_ticket" lay-skin="primary" lay-filter="showEndTicket" title="{:L('SHOW_END_TICKET')}"
                        data-type="sub_ticket" <if condition="$show_end_ticket eq 'show'">checked</if>>

                        <div class="compact-menu">

                            <a href="javascript:" title="{:L('ADVANCED_FILTER')}" class="filter" id="filter">

                                <i class="iconfont icon-shaixuan"></i>

                            </a>

                            <!-- 处理人筛选 -->
                            <a href="javascript:processFilter(this)" title="{:L('HANDLER')}{:L('FILTER')}" class="process"><i class="iconfont icon-yonghu1"></i></a>

                            <notempty name="isDeleteAuth">

                                <a href="javascript:" title="{:L('DELETE_TICKET')}" class="disabled" id="batchDeleteTicket" action="{:U('delete')}">

                                    <i class="iconfont icon-shanchu"></i>

                                </a>

                            </notempty>

                            <notempty name="isExportAuth">

                                <a href="javascript:" title="{:L('EXPORT_TICKET')}" id="exportTicket1"><i class="iconfont icon-daochu"></i></a>

                            </notempty>

                            <input type="hidden" name="sort" value="{$sort}"/>

                            <input type="hidden" name="sort_field" value="{$sort_field}"/>

                            <a href="javascript:" title="{:L('SORT')}" class="sort"><i class="iconfont icon-sort"></i></a>

                            <ul class="sort-ul">

                                <li data-value="create_time">

                                    <i class="iconfont <eq name='sort_field' value='create_time'>icon-gouxuan</eq>"></i>{:L('RELEASE_TIME')}

                                    <eq name='sort_field' value='create_time'>

                                        <i class="iconfont <eq name='sort' value='desc'>icon-desc<else />icon-asc</eq>"></i>

                                    </eq>

                                </li>

                            </ul>

                        </div>

                        <div class="compact-search">

                            <i class="iconfont icon-search"></i>

                            <input type="text" name="keyword" value="{$keyword}" placeholder="{:L('SEARCH')}"/>

                            <a href="javascript:" class="searchBtn">{:L('SEARCH')}</a>

                        </div>

                    </div>

                </div>

                <div class="item-header-left">

                    <div class="select-ticket-number">{:L('SELECTED')} <span id="selected-number">0</span></div>

                </div>

            </div>

            <!-- 筛选面板 -->
            <div class="filter-panel layui-form" id="filter-panel">

                <div class="filter-box1">

                    <!-- 发布时间 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('RELEASE_TIME')}</span>

                        <div class="filter-option">

                            <volist name="createTimeFilter" id="vo">

                                <eq name="filter.timeId" value="$key">

                                    <input type="radio" name="timeId" value="{$key}" title="{$vo}" lay-filter="create-time" checked>

                                    <else />

                                    <input type="radio" name="timeId" value="{$key}" title="{$vo}" lay-filter="create-time">

                                </eq>

                                <eq name="key" value="n">

                                    <input type="text" name='datetime' value="{$datetime}" id="fliter-time" placeholder="{:L('START_END')}"
                                           class="<empty name='datetime'>hidden</empty>" data-max="{:getDates(NOW_TIME,6)}">

                                </eq>

                            </volist>

                        </div>

                    </div>

                </div>

                <div class="filter-box2">

                    <!-- 工单状态 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('TICKET_STATUS')}</span>

                        <div class="filter-option" id="status"></div>

                    </div>

                    <!-- 工单发布人 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('PUBLISHER')}</span>

                        <div class="filter-option" id="publishers"></div>

                    </div>

                </div>

                <div class="filter-footer">

                    <a href="javascript:" class="filter-sure">{:L('SURE')}</a>

                    <a href="javascript:" class="filter-cancel">{:L('CANCEL')}</a>

                </div>

            </div>

            <script type="text/javascript">

                layui.config({
                    base : '__PUBLIC__/js/layui/extends/'
                }).extend({
                    selectM: 'selectM'
                }).use(['form','selectM','selectN'],function()
                {
                    var form = layui.form;

                    var filterData = JSON.parse('{$filterData}');

                    var statusData = JSON.parse('{$ticketStatusData}');

                    var memberData = JSON.parse('{$memberData}');

                    //选择状态
                    layui.selectM(
                    {
                        elem: '#status',
                        data: statusData,
                        selected: filterData.statusIds,
                        tips:"{:L('ALL_STATUS')}",
                        width:'60%',
                        name:'status',
                        max:100,
                        searchTips:"{:L('PLEASE_ENTER_KEYWORDS')}",
                        field: {idName:'status_id',titleName:'status_name',statusName:'status'}
                    });

                    //选择发布人
                    layui.selectM(
                    {
                        elem: '#publishers',
                        data: memberData,
                        selected: filterData.publishIds,
                        tips:"{:L('WHOLE')}",
                        width:'60%',
                        name:'publishIds',
                        search:true,
                        max:100,
                        searchTips:"{:L('PLEASE_ENTER_KEYWORDS')}",
                        field: {idName:'member_id',titleName:'name',statusName:'status'}
                    });
                });

            </script>

            <!-- 处理人筛选 -->
            <div class="process-panel hidden" id="processPanel">

                <div class="process-item">

                    <div class="process-content">

                        <!-- 部门 -->
                        <div class="process-groups">

                            <div class="process-group-search">

                                <input type="text" placeholder="{:L('DEPARTMENT_NAME')}" autocomplete="off" id="processGroupSearch"/>

                            </div>

                            <ul class="process-group-item" id="processGroupItem">

                                <li onclick="" class="<if condition='in_array(all,$filter[groupIds])'>group-selected</if>">
                                    {:L('WHOLE')}
                                    <input type='checkbox' name="groupIds[]" value="all" lay-skin="primary"
                                    <if condition="in_array('all',$filter['groupIds'])">checked</if> id='groupAll'/>

                                </li>

                                <volist name="groups" id="vo">

                                    <li onclick="" class="<in name='vo.group_id' value='$filter[groupIds]'>group-selected</in>">
                                        {$vo.group_name}
                                        <input type='checkbox' name="groupIds[]" value="{$vo.group_id}" lay-skin="primary"
                                        <in name='vo[group_id]' value='$filter[groupIds]'>checked</in>/>
                                    </li>

                                </volist>

                            </ul>

                        </div>

                        <!-- 用户 -->
                        <div class="process-users">

                            <div class="process-user-search">

                                <input type="text" placeholder="{:L('NAME')}" autocomplete="off" id="processUserSearch"/>

                            </div>

                            <ul class="process-user-item" id="processUserItem">

                                <volist name="members" id="vo">

                                    <li data-group="{$vo.group_id}" class="<in name='vo[member_id]' value='$filter[handleIds]'>user-selected</in>">
                                        {$vo.name}
                                        <input type='checkbox' name="handleIds[]" value="{$vo.member_id}" lay-skin="primary"
                                        <in name='vo[member_id]' value='$filter[handleIds]'>checked</in> />
                                    </li>

                                </volist>

                            </ul>

                        </div>

                    </div>

                </div>

                <footer><a href="javascript:" class="process-submit" id="sureSelectProcess">{:L('CONFIRM_SELECT')}</a></footer>

                <script type="text/javascript">

                    function processFilter(o)
                    {
                        layui.use(['form'], function ()
                        {
                            var form = layui.form;

                            layer.open(
                            {
                                type: 1,
                                title:"{:L('HANDLER')}{:L('FILTER')}",
                                content: $('#processPanel'),
                                skin: 'process-window',
                                offset: ['150px'],
                                area: ['50%', '500px'],
                                success: function (layero, index)
                                {
                                    var processUserItem = $('#processUserItem');

                                    $('#processGroupItem').find('li').unbind('click').on('click',function()
                                    {
                                        var groupCheck = $(this).find("input[type='checkbox']");

                                        var value = groupCheck.val();

                                        $(this).toggleClass('group-selected');

                                        if($(this).hasClass('group-selected'))
                                        {
                                            groupCheck.prop('checked',true);
                                        }
                                        else
                                        {
                                            groupCheck.prop('checked',false);
                                        }

                                        if(value == 'all')
                                        {
                                            $(this).siblings('li').removeClass('group-selected').find("input[type='checkbox']").prop('checked',false);

                                            processUserItem.find('li').show().removeClass('user-selected').find("input[type='checkbox']").prop('checked',false);
                                        }
                                        else
                                        {
                                            $('#groupAll').prop('checked',false).parent('li').removeClass('group-selected');

                                            processUserItem.find('li').each(function(k,v)
                                            {
                                                var groupIds = $(this).data('group');

                                                var groupIdArr = groupIds.toString().split(',');

                                                if($.inArray(value.toString(),groupIdArr) >= 0)
                                                {
                                                    $(this).show();
                                                }
                                                else
                                                {
                                                    $(this).hide();
                                                }
                                            });
                                        }
                                    });

                                    processUserItem.find('li').unbind('click').on('click',function()
                                    {
                                        var userCheck = $(this).find("input[type='checkbox']");

                                        $(this).toggleClass('user-selected');

                                        if($(this).hasClass('user-selected'))
                                        {
                                            userCheck.prop('checked',true);
                                        }
                                        else
                                        {
                                            userCheck.prop('checked',false);
                                        }
                                    });

                                    $('#processGroupSearch').keyup(function ()
                                    {
                                        var value = $(this).val();

                                        if(value)
                                        {
                                            $('#processGroupItem').find('li').hide().filter(":contains('" + ($(this).val()) + "')").show();
                                        }
                                        else
                                        {
                                            $('#processGroupItem').find('li').show();
                                        }
                                    });

                                    $('#processUserSearch').keyup(function ()
                                    {
                                        var value = $(this).val();

                                        if(value)
                                        {
                                            $('#processUserItem').find('li').addClass('user-hidden').filter(":contains('" + ($(this).val()) + "')").removeClass('user-hidden');
                                        }
                                        else
                                        {
                                            $('#processUserItem').find('li').removeClass('user-hidden');
                                        }
                                    });

                                    $('#sureSelectProcess').unbind('click').on('click',function()
                                    {
                                        layer.load(2,{offset:['150px']});

                                        $('#searchFilter').submit();
                                    });
                                },
                                cancel: function(index)
                                {
                                    layer.close(index);

                                    $('.process').removeClass('active');

                                    return false;
                                }
                            });
                        })
                    }

                </script>

            </div>

        </form>

        <div class="item-content layui-form" id="ticketItem">

            <!-- 极简 -->

            <div id='minimalist' class="<neq name='view_source' value='minimalist'>hidden</neq>">

                <div class="minimalist-main">

                    <notempty name="subTicket">

                        <volist name="subTicket" id="vo">

                            <div class="ticket-list clearfix" mini="subTicket" data-id="{$vo.ticket_id|encrypt='SUB_TICKET'}">

                                <span class="ticket-list-right fr">

                                    <span title="{:L('PUBLISHER')}">

                                        <span>{$members[$vo['member_id']]['name']}</span>

                                        <img src="{$members[$vo['member_id']]['face']|default='/Attachs/face/default.jpg'}" class='face' alt="">

                                    </span>

                                </span>

                                <input type="checkbox" name="batch[]" lay-skin="primary" value={$vo.ticket_id|encrypt='SUB_TICKET'} class="fl" lay-filter="MiniListChoose">

                                <eq name="vo.status_id" value="10">

                                    <div class="status bg-ff2e4b" data-value="status{$vo.ticket_no}">{:L('WAIT_PROCESS')}</div>

                                <else />

                                    <div class="status bg-85D654" data-value="status{$vo.ticket_no}">{:L('COMPLETED')}</div>

                                </eq>

                                <a href="javascript:" class="ticket-title" >{$vo['title']}</a>

                            </div>

                        </volist>

                    <else />

                        <div class="nodata center">

                            <p><i class="iconfont icon-nothing fts20"></i></p>

                            <p>{:L('NO_DATA')}</p>

                        </div>

                    </notempty>

                </div>

                <div class="ticket-item-footer">

                    <input type="checkbox" name="" lay-skin="primary" lay-filter="MiniAllChoose" title="{:L('CHECK_ALL')}">

                    <notempty name="page"><div class="user-page">{$page}</div></notempty>

                </div>

            </div>

            <!-- 列表 -->

            <div id='list' class="ticket-list-item list-item <neq name='view_source' value='list'>hidden</neq>">

                <div class="ticket-list-main">

                    <table class="layui-table" lay-skin="line">

                        <thead>

                            <tr>

                                <th class="checkbox relative"><input type="checkbox" name="" lay-skin="primary" lay-filter="ListAllChoose"></th>

                                <th class="ticket-title"><span class="cursor">{:L('TICKET_TITLE')}</span></th>

                                <th><span>{:L('LATEST_REPLY')}</span></th>

                                <th><span>{:L('TICKET_STATUS')}</span></th>

                                <th><span>{:L('PUBLISHER')}</span></th>

                                <th><span>{:L('HANDLER')}</span></th>

                                <th><span>{:L('RELEASE_TIME')}</span></th>

                                <th><span>{:L('TIME_CONSUMING')}</span></th>

                                <th><span>{:L('TICKET_ID')}</span></th>

                            </tr>

                        </thead>

                        <tbody>

                            <notempty name="subTicket">

                                <volist name="subTicket" id="vo">

                                    <tr class='list-item-tr' data-id="{$vo.ticket_id|encrypt='SUB_TICKET'}" data-value="{$vo.ticket_no}" data-v1="{$index['member_id']}" data-v2="{$vo['process_id']}">

                                        <td class="checkbox relative" data-value="{$vo.ticket_no}">

                                            <input type="checkbox" name="batch[]" lay-skin="primary" value={$vo.ticket_id|encrypt='SUB_TICKET'} lay-filter="ListChoose">

                                        </td>

                                        <!-- 子工单标题 -->
                                        <td class='ellipsis ticket-title' mini='subTicket'>

                                            <span class="ticket-read-state <eq name='vo.look' value='2'>ticket-read<else/>ticket-unread</eq>"></span>

                                            <span class="ticket-suspend <gt name='vo.is_suspend' value='0'>iconfont icon-suspend</gt>"></span>

                                            <span class="w200 middle">{$vo.title}</span>

                                        </td>

                                        <!-- 最新回复数 -->
                                        <td mini='subTicket'><span class="<gt name='vo.newReplyNum' value='0'>unreadreply</gt>" id="newReplyNum{$vo.ticket_no}">{$vo.newReplyNum}</span></td>

                                        <!-- 子工单状态 -->
                                        <td id="item-status{$vo['ticket_id']}" mini='subTicket'>

                                            <if condition="$vo['status_id'] eq 10">

                                                <span class='list-status bg-ff2e4b' data-value="status{$vo.ticket_no}" >{:L('WAIT_PROCESS')}</span>

                                            <else />

                                                <span class='list-status bg-85D654' data-value="status{$vo.ticket_no}" >{:L('COMPLETED')}</span>

                                            </if>

                                        </td>

                                        <!-- 子工单发布人 -->
                                        <td mini='subTicket'>{$members[$vo['member_id']]['name']}</td>

                                        <!-- 子工单处理人 -->
                                        <td mini='subTicket'>{$members[$vo['process_id']]['name']|default="<span class='iconfont icon-nothing gray3'></span>"}</td>

                                        <!-- 子工单发布时间 -->
                                        <td mini='subTicket'>{$vo.create_time|getDates}</td>

                                        <!-- 子工单耗时 -->
                                        <td id="time{$vo.ticket_id}" class="istime orange4" mini='subTicket'>

                                            <eq name="vo.status_id" value="20">

                                                <span class="green4">{:L('COMPLETED')}</span>

                                                <else />

                                                <if condition="$vo['taking']['day'] gt 0"><span class="day">{$vo.taking.day}{:L('DAYS')}</span></if>

                                                <if condition="$vo['taking']['hour'] gt 0"><span class="hour">{$vo.taking.hour}{:L('HOURS')}</span></if>

                                                <if condition="$vo['taking']['min'] gt 0"><span class="hour">{$vo.taking.min}{:L('MINUTES')}</span></if>

                                            </eq>

                                        </td>

                                        <!-- 子工单编号 -->
                                        <td mini='subTicket'>{$vo.ticket_no}</td>

                                    </tr>

                                </volist>

                            <else />

                                <tr class="nodata center">

                                    <td colspan="20">

                                        <p><i class="iconfont icon-nothing fts20"></i></p>

                                        <p>{:L('NO_DATA')}</p>

                                    </td>

                                </tr>

                            </notempty>

                        </tbody>

                    </table>

                </div>

                <div class="ticket-item-footer">

                    <input type="checkbox" name="" lay-skin="primary" lay-filter="ListAllChoose" title="{:L('CHECK_ALL')}">

                    <notempty name="page"><div class="user-page">{$page}</div></notempty>

                </div>

            </div>

        </div>

    </div>

    <notempty name="isExportAuth">

        <!-- 导出工单 -->
        <div class="export-ticket hidden">

            <form action="" method="get" id="exportForm">

                <ul>

                    <volist name="exportList" id="vo">

                        <li>

                            <a href="javascript:">{$vo.name}</a>

                            <input type="checkbox" name="exportList[]" value="{$vo.identity}" class="hidden" />

                        </li>

                    </volist>

                </ul>

                <div class="export-ticket-footer"><a href="javascript:" class="feelecBtn" id="startExport">{:L('START_EXPORT')}</a></div>

            </form>

        </div>

        <script type="text/javascript">

            $(function()
            {
                $('#exportTicket1,#exportTicket2').on('click',function()
                {
                    layer.open(
                    {
                        type:1,
                        title:"{:L('SELECT_EXPORT')}",
                        content: $(".export-ticket"),
                        offset:['150px'],
                        area:['700px'],
                        success:function()
                        {
                            $('#exportTicket1').addClass('active');
                        },
                        cancel:function ()
                        {
                            $('#exportTicket1').removeClass('active');
                        }
                    });
                });

                $(".export-ticket ul a").on('click',function()
                {
                    var obj = $(this);

                    if(obj.hasClass('select-this'))
                    {
                        obj.removeClass('select-this').next('input').prop('checked',false);
                    }
                    else
                    {
                        obj.addClass('select-this').next('input').prop('checked',true);
                    }
                });

                $("#startExport").on('click',function()
                {
                    var loading = layer.load(2,{offset:'15vw'});

                    $.get("/Ticket/export?action={$Think.ACTION_NAME}",$("#exportForm").serialize(),function(data)
                    {
                        if(data.msg == 'success')
                        {
                            data.url = "/Ticket/export";

                            feelDeskAlert("{:L('EXPORT_SUCCESS')}",data);
                        }
                        else
                        {
                            feelDeskAlert(data.msg);
                        }

                        layer.close(loading);
                    });
                });
            })

        </script>

    </notempty>

    <script type="text/javascript">

        $(function()
        {
            setInterval("getNewTicketReplyNum()",1000*8);

            $(".board-panel-content").niceScroll(
            {
                cursorcolor: "#CECECE"// 改变滚动条颜色，使用16进制颜色值
            });

            $(".item-content").css({height:'calc(100% - '+$('#searchFilter').outerHeight()+'px)'})
        });

//        Ajax轮询获取工单最新回复
        function getNewTicketReplyNum()
        {
            var url = '';

            if(window.location.href.indexOf('&') == -1)
            {
                url = window.location.href+'?source=take';
            }
            else
            {
                url = window.location.href+'&source=take';
            }

            $.post(url,function(data)
            {
                for(var i in data)
                {
                    var newReplyNum = $("#newReplyNum"+data[i].ticket_no);

                    if(data[i].newReplyNum > 0)
                    {
                        if(parseInt(newReplyNum.text()) != data[i].newReplyNum)
                        {
                            newReplyNum.css({'font-size':'12px','color':'red',"font-weight":"600"});
                        }
                    }
                    else
                    {
                        newReplyNum.css({'font-size':'12px','color':'black',"font-weight":"normal"});
                    }

                    newReplyNum.html(data[i].newReplyNum);
                }
            },'JSON');
        }

    </script>

</block>
