<extend name="Public:common"/>

<block name="crumb1">{:L('TICKET_MANAGER')}</block>

<block name="rightHeader">

    <!-- NAV -->
    <div class="right-header fr clearfix">

        <ul class="ticket-nav fr">

            <li class="<eq name='view_source' value='minimalist'>active</eq>" v='minimalist'>

                <i class="iconfont icon-jijian"></i><span>{:L('MINIMALIST')}</span>

            </li>

            <li class="<eq name='view_source' value='list'>active</eq>" v='list'>

                <i class="iconfont icon-liebiao"></i><span>{:L('LIST')}</span>

            </li>

        </ul>

    </div>

</block>

<block name="content">

    <div class="ticket-item">

        <form action="/Ticket/{$Think.ACTION_NAME}" method="get" id="searchFilter" class="layui-form">

			<input type='hidden' name='view_source' value='{$view_source}' id='viewSource'/>

            <div class="item-header clearfix">

                <!-- 右侧按钮 -->
                <div class="item-header-right fr">

                    <div class="ticket-search clearfix">

                        <input type="checkbox" name="show_end_ticket" lay-skin="primary" lay-filter="showEndTicket" title="{:L('SHOW_END_TICKET')}"
                        data-type="ticket" <if condition="$show_end_ticket eq 'show'">checked</if>>

                        <div class="compact-menu">

                            <a href="javascript:" title="{:L('ADVANCED_FILTER')}" class="filter" id="filter">

                                <i class="iconfont icon-shaixuan"></i>

                            </a>

                            <!-- 处理人筛选 -->
                            <a id='process-filter' href="javascript:" title="{:L('HANDLER')}{:L('FILTER')}" class="process"><i class="iconfont icon-yonghu1"></i></a>

                            <notempty name="auth.follow">

                                <a href="javascript:" title="{:L('FOLLOW_TICKET')}" class="disabled" id="batchFollowTicket" action="{:U('follow')}">

                                    <i class="iconfont icon-follow"></i>

                                </a>

                                <a href="javascript:" title="{:L('CANCEL_FOLLOW')}" class="disabled" id="batchCancelFollowTicket" action="{:U('follow')}">

                                    <i class="iconfont icon-cancel-follow"></i>

                                </a>

                            </notempty>

                            <notempty name="auth.delete">

                                <a href="javascript:" title="{:L('DELETE_TICKET')}" class="disabled" id="batchDeleteTicket" action="{:U('delete')}">

                                    <i class="iconfont icon-shanchu"></i>

                                </a>

                            </notempty>

                            <notempty name="auth.import">

                                <a href="javascript:" title="{:L('IMPORT_TICKET')}" id="importTicket"><i class="iconfont icon-daoru"></i></a>

                            </notempty>

                            <notempty name="auth.export">

                                <a href="javascript:" title="{:L('EXPORT_TICKET')}" id="exportTicket"><i class="iconfont icon-daochu"></i></a>

                            </notempty>

                            <input type="hidden" name="sort" value="{$sort}"/>

                            <input type="hidden" name="sort_field" value="{$sort_field}"/>

                            <a href="javascript:" title="{:L('SORT')}" class="sort"><i class="iconfont icon-sort"></i></a>

                            <ul class="sort-ul">

                                <li data-value="ticket_id">

                                    <i class="iconfont <eq name='sort_field' value='ticket_id'>icon-gouxuan</eq>"></i>{:L('RELEASE_TIME')}

                                    <eq name='sort_field' value='ticket_id'>

                                        <i class="iconfont <eq name='sort' value='desc'>icon-desc<else />icon-asc</eq>"></i>

                                    </eq>

                                </li>

                                <li data-value="priority">

                                    <i class="iconfont <eq name='sort_field' value='priority'>icon-gouxuan</eq>"></i>{:L('PRIORITY')}

                                    <eq name='sort_field' value='priority'>

                                        <i class="iconfont <eq name='sort' value='desc'>icon-desc<else />icon-asc</eq>"></i>

                                    </eq>

                                </li>

                            </ul>

                        </div>

                        <div class="compact-search">

                            <i class="iconfont icon-search"></i>

                            <input type="text" name="keyword" value="{$filter.keyword}" placeholder="{:L('SEARCH')}"/>

                            <a href="javascript:" class="searchBtn">{:L('SEARCH')}</a>

                        </div>

                    </div>

                </div>

                <div class="item-header-left">

                    <div class="select-ticket-number">{:L('SELECTED')} <span id="selected-number">0</span></div>

                </div>

            </div>

            <!-- 筛选面板 -->
            <div class="filter-panel layui-form" id="filter-panel">

                <div class="filter-box1">

                    <!-- 发布时间 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('RELEASE_TIME')}</span>

                        <div class="filter-option">

                            <volist name="createTimeFilter" id="vo">

                                <eq name="filter.timeId" value="$key">

                                    <input type="radio" name="timeId" value="{$key}" title="{$vo}" lay-filter="create-time" checked>

                                <else />

                                    <input type="radio" name="timeId" value="{$key}" title="{$vo}" lay-filter="create-time">

                                </eq>

                                <eq name="key" value="n">

                                    <input type="text" name='datetime' value="{$datetime|default=''}" id="fliter-time" placeholder="{:L('START_END')}" class="<empty name='datetime'>hidden</empty>" data-max="{:getDates(NOW_TIME,6)}">

                                </eq>

                            </volist>

                        </div>

                    </div>

                    <!-- 优先级 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('PRIORITY')}</span>

                        <div class="filter-option">

                            <volist name="priorityFilter" id="vo">

                                <in name="key" value="$filter['priority']">

                                    <input type="checkbox" name="priority[]" value="{$key}" title="{$vo}" lay-skin="primary" checked>

                                <else />

                                    <input type="checkbox" name="priority[]" value="{$key}" title="{$vo}" lay-skin="primary">

                                </in>

                            </volist>

                        </div>

                    </div>

                </div>

                <div class="filter-box2">

                    <!-- 工单状态 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('TICKET_STATUS')}</span>

                        <div class="filter-option" id="status"></div>

                    </div>

                    <!-- 模板类型 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('TEMPLATE_TYPE')}</span>

                        <div class="filter-option" id="template-type"></div>

                    </div>

                    <!-- 工单模板 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('TICKET_TEMPLATE')}</span>

                        <div class="filter-option">

                            <select name="template_id" lay-search>

                                <option value="">{:L('WHOLE')}</option>

                                <volist name="template" id="vo">

                                    <option value="{$vo.ticket_model_id}" <in name="vo.ticket_model_id" value="$filter['template_id']">selected</in>>{$vo.lang_name}</option>

                                </volist>

                            </select>

                        </div>

                    </div>

                    <!-- 工单发布人 -->
                    <div class="filter-item">

                        <span class="filter-name">{:L('PUBLISHER')}</span>

                        <div class="filter-option" id="publishers"></div>

                    </div>

                </div>

                <div class="filter-footer">

                    <a href="javascript:" class="filter-sure">{:L('SURE')}</a>

                    <a href="javascript:" class="filter-cancel">{:L('CANCEL')}</a>

                </div>

            </div>

            <script type="text/javascript">

                /**
                * @param filterData {Object}
                * @param filterData.statusIds {Object}
                * @param filterData.publishIds {Object}
                * @param filterData.templateTypeIds {Object}
                */
                layui.config({
                    base : '__PUBLIC__/js/layui/extends/'
                }).extend({
                    selectM: 'selectM'
                }).use(['form','selectM','selectN'],function()
                {
                    var statusData = JSON.parse('{$ticketStatusData}');

                    var filterData = JSON.parse('{$filterData}');

                    var memberData = JSON.parse('{$memberData}');

                    var templateTypeData = JSON.parse('{$templateTypeFilter}');

                    //选择状态
                    layui.selectM(
                    {
                        elem: '#status',
                        data: statusData,
                        selected: filterData.statusIds,
                        tips:"{:L('ALL_STATUS')}",
                        width:'60%',
                        name:'status',
                        max:100,
                        searchTips:"{:L('PLEASE_ENTER_KEYWORDS')}",
                        field: {idName:'status_id',titleName:'status_name',statusName:'status'}
                    });

                    //选择发布人
                    layui.selectM(
                    {
                        elem: '#publishers',
                        data: memberData,
                        selected: filterData.publishIds,
                        tips:"{:L('WHOLE')}",
                        width:'60%',
                        name:'publishIds',
                        search:true,
                        max:100,
                        searchTips:"{:L('PLEASE_ENTER_KEYWORDS')}",
                        field: {idName:'member_id',titleName:'name',statusName:'status'}
                    });

                    //选择模板类型
                    layui.selectM(
                    {
                        elem: '#template-type',
                        data: templateTypeData,
                        selected: filterData.templateTypeIds,
                        tips:"{:L('WHOLE')}",
                        width:'60%',
                        name:'template_type_id',
                        search:true,
                        max:100,
                        searchTips:"{:L('PLEASE_ENTER_KEYWORDS')}",
                        field: {idName:'type_id',titleName:'lang_name',statusName:'status'}
                    });
                });

            </script>

            <!-- 处理人筛选 -->
            <div class="process-panel hidden" id="processPanel">

                <div class="process-item">

                    <div class="process-content">

                        <!-- 部门 -->
                        <div class="process-groups">

                            <div class="process-group-search">

                                <input type="text" placeholder="{:L('DEPARTMENT_NAME')}" autocomplete="off" id="processGroupSearch"/>

                            </div>

                            <div class='process-group-tree' id="department"></div>
<!--
                            <ul class="process-group-item" id="processGroupItem">

                                <li onclick="" class="<if condition='in_array(all,$filter[groupIds])'>group-selected</if>">
                                    {:L('WHOLE')}
                                    <input type='checkbox' name="groupIds[]" value="all" lay-skin="primary"
                                    <if condition="in_array('all',$filter['groupIds'])">checked</if> id='groupAll'/>

                                </li>

                                <volist name="groups" id="vo">

                                    <li onclick="" class="<in name='vo.group_id' value='$filter[groupIds]'>group-selected</in>">
                                        {$vo.group_name}
                                        <input type='checkbox' name="groupIds[]" value="{$vo.group_id}" lay-skin="primary"
                                        <in name='vo[group_id]' value='$filter[groupIds]'>checked</in>/>
                                    </li>

                                </volist>


                            </ul>
-->
                        </div>

                        <!-- 用户 -->
                        <div class="process-users">

                            <div class="process-user-search">

                                <input type="text" placeholder="{:L('NAME')}" autocomplete="off" id="processUserSearch"/>

                            </div>

                            <ul class="process-user-item" id="processUserItem">

                                <volist name="members" id="vo">

                                    <eq name="vo.type" value="1">

                                        <li data-group="{$vo.group_id}" class="<in name='vo[member_id]' value='$filter[handleIds]'>user-selected</in>">

                                            <input type='checkbox' name="handleIds[]" value="{$vo.member_id}" lay-skin="primary"
                                                   title="{$vo.name}" <in name='vo[member_id]' value='$filter[handleIds]'>checked</in> />
                                        </li>

                                    </eq>

                                </volist>

                            </ul>

                        </div>

                    </div>

                </div>

                <footer><a href="javascript:" class="process-submit" id="sureSelectProcess">{:L('CONFIRM_SELECT')}</a></footer>

                <script type="text/javascript">

                    layui.config({base: '/Public/js/layui/extends/'}).extend({authtree: 'authtree/authtree'}).use(['form','authtree','element'],function()
                    {
                        var form = layui.form;

                        var tree = layui.authtree;

                        var department = JSON.parse('{$jsonDepartmentData}');

                        tree.render('#department', department,
                        {
                            openall:true,// 展开全部
                            autochecked:false,// 自动选择直属父级节点
                            autoclose:false,// 自动取消父级节点选中
                            inputname: 'groupIds[]',
                            layfilter: 'lay-check-group',
                            childKey:'children',
                            nameKey: 'group_name',
                            valueKey: 'group_id',
                            autowidth: true
                        });

                        $('#process-filter').unbind('click').on('click',function()
                        {
                            layer.open(
                            {
                                type: 1,
                                title:"{:L('HANDLER')} {:L('FILTER')}",
                                content: $('#processPanel'),
                                skin: 'process-window',
                                offset: ['150px'],
                                area: ['50%', '500px'],
                                success: function ()
                                {
                                    var processUserItem = $('#processUserItem');

                                    tree.on('change(lay-check-group)', function(data)
                                    {
                                        var value = tree.getChecked('#department');

                                        if(value.length === 0)
                                        {
                                            processUserItem.find('li').show().removeClass('user-selected').find("input[type='checkbox']").prop('checked',false);
                                        }
                                        else
                                        {
                                            processUserItem.find('li').each(function()
                                            {
                                                var that = $(this);

                                                var groupIds =that.data('group');

                                                var groupIdArr = groupIds.toString().split(',');

                                                $.each(groupIdArr,function(k,v)
                                                {
                                                    if($.inArray(v.toString(),value) >= 0)
                                                    {
                                                        that.show();

                                                        return false;
                                                    }
                                                    else
                                                    {
                                                        that.hide();
                                                    }
                                                });
                                            });
                                        }
                                    });

                                    $('#processGroupSearch').keyup(function ()
                                    {
                                        var value = $(this).val();

                                        if(value)
                                        {
                                            $('#department').find('.auth-status').hide().filter(":contains('" + (value) + "')").show();
                                        }
                                        else
                                        {
                                            $('#department').find('.auth-status').show();
                                        }
                                    });

                                    $('#processUserSearch').keyup(function ()
                                    {
                                        var value = $(this).val();

                                        if(value)
                                        {
                                            $('#processUserItem').find('li').addClass('user-hidden').filter(":contains('" + ($(this).val()) + "')").removeClass('user-hidden');
                                        }
                                        else
                                        {
                                            $('#processUserItem').find('li').removeClass('user-hidden');
                                        }
                                    });

                                    $('#sureSelectProcess').unbind('click').on('click',function()
                                    {
                                        layer.load(2,{offset:['150px']});

                                        $('#searchFilter').submit();
                                    });
                                },
                                cancel: function(index)
                                {
                                    layer.close(index);

                                    $('.process').removeClass('active');

                                    return false;
                                }
                            });
                        })
                    });

                </script>

            </div>

        </form>

        <!-- 工单列表区 -->
        <div class="item-content layui-form" id="ticketItem">

            <!-- 极简 -->
            <div id='minimalist' class="<neq name='view_source' value='minimalist'>hidden</neq>">

                <div class="minimalist-main">

                    <notempty name="ticket">

                        <volist name="ticket" id="vo">

                            <div class="ticket-list" mini="ticket" data-id="{$vo.ticket_id|encrypt='TICKET'}" data-value="{$vo.ticket_no}">

                                <input type="checkbox" name="batch[]" lay-skin="primary" value={$vo.ticket_id|encrypt='TICKET'} class="fl" lay-filter="MiniListChoose">

                                <span class="ticket-suspend <gt name='vo.is_suspend' value='0'>iconfont icon-suspend</gt>"></span>

                                <div class="status" data-value="status{$vo.ticket_no}" style="background-color:{$ticket_status[$vo['status_id']]['status_color']};">{$ticket_status[$vo['status_id']]['lang_name']}</div>

                                <a href="javascript:" class="ticket-title" >{$vo['title']}</a>

                                <span class="ticket-priority {$ticketObj->getPriorityColor($vo['priority'])}" data-value="priority{$vo['ticket_no']}">{$ticketObj->getPriority($vo['priority'])}</span>

                                <span class="ticket-list-right">

                                    <span title="{:L('PUBLISHER')}">

                                        <span>{$members[$vo['member_id']]['name']}</span>

                                        <img src="{$members[$vo['member_id']]['face']|default='/Attachs/face/default.jpg'}" class='face' alt="">

                                    </span>

                                </span>

                            </div>

                        </volist>

                    <else />

                        <div class="nodata center">

                            <p><i class="iconfont icon-nothing fts20"></i></p>

                            <p>{:L('NO_DATA')}</p>

                        </div>

                    </notempty>

                </div>

                <div class="ticket-item-footer">

                    <input type="checkbox" name="" lay-skin="primary" lay-filter="MiniAllChoose" title="{:L('CHECK_ALL')}">

                    <notempty name="page"><div class="user-page">{$page}</div></notempty>

                </div>

            </div>

            <!-- 列表 -->
            <div id='list' class="ticket-list-item list-item <neq name='view_source' value='list'>hidden</neq>">

                <div class="ticket-list-main">

                    <table class="layui-table" lay-skin="nob">

                        <thead>

                            <tr>

                                <th></th>

<!--                                <th class="checkbox relative"><input type="checkbox" name="" lay-skin="primary" lay-filter="ListAllChoose"></th>-->

                                <foreach name="ticketView" item="val">

                                    <if condition="isset($val['is_view']) && $val['is_view']">

                                        <th class="<eq name='val.view_id' value='1'>ticket-title</eq>">

                                            <span class="ticketview" data-id="{$val.view_id}" style="cursor:pointer">{$val.lang_name}</span>

                                        </th>

                                    </if>

                                </foreach>

                            </tr>

                        </thead>

                        <tbody>

                            <notempty name="ticket">

                                <volist name="ticket" id="vo">

                                    <tr class='list-item-tr' data-id="{$vo.ticket_id|encrypt='TICKET'}" data-value="{$vo.ticket_no}" data-v1="{$index['member_id']}" data-v2="{$vo['dispose_id']}">

                                        <td class="checkbox relative" data-value="{$vo.ticket_no}">

                                            <input type="checkbox" name="batch[]" lay-skin="primary" value={$vo.ticket_id|encrypt='TICKET'} lay-filter="ListChoose">

                                        </td>

                                        <if condition="isset($ticketView[1]['is_view']) && $ticketView[1]['is_view']">

                                            <td class='ellipsis ticket-title' mini='ticket'>

                                                <span class="ticket-read-state <eq name='vo.look' value='2'>ticket-read<else/>ticket-unread</eq>"></span>

                                                <span class="ticket-suspend <gt name='vo.is_suspend' value='0'>iconfont icon-suspend</gt>"></span>

                                                <eq name='vo.is_follow' value='1'><span class="ticket-followed iconfont icon-followed" title="{:L('FOLLOWED')}"></span></eq>

                                                <span class="w200 middle">{$vo.title}</span>

                                            </td>

                                        </if>

                                        <if condition="isset($ticketView[2]['is_view']) && $ticketView[2]['is_view']">

                                            <td class="ticket-source" mini='ticket'>

                                                <span class="iconfont {$ticketObj->getTicketFromIcon($vo['ticket_from'])}"></span>

                                            </td>

                                        </if>

                                        <if condition="isset($ticketView[3]['is_view']) && $ticketView[3]['is_view']">

                                            <td mini='ticket'><span class="<gt name='vo.newReplyNum' value='0'>unreadreply</gt>" id="newReplyNum{$vo.ticket_no}">{$vo.newReplyNum}</span></td>

                                        </if>

                                        <if condition="isset($ticketView[4]['is_view']) && $ticketView[4]['is_view']">

                                            <td id="item-status{$vo['ticket_id']}" mini='ticket'><span class='list-status' data-value="status{$vo.ticket_no}" style="background-color:{$ticket_status[$vo['status_id']]['status_color']};">{$ticket_status[$vo['status_id']]['lang_name']}</span></td>

                                        </if>

                                        <if condition="isset($ticketView[5]['is_view']) && $ticketView[5]['is_view']">

                                            <td mini='ticket' data-value="priority{$vo['ticket_no']}">

                                                <span class="ticket-priority {$ticketObj->getPriorityColor($vo['priority'])}">

                                                    {$ticketObj->getPriority($vo['priority'])}

                                                </span>

                                            </td>

                                        </if>

                                        <if condition="isset($ticketView[6]['is_view']) && $ticketView[6]['is_view']"><td mini='ticket'>{$members[$vo['member_id']]['name']}</td></if>

                                        <if condition="isset($ticketView[7]['is_view']) && $ticketView[7]['is_view']"><td mini='ticket'>{$members[$vo['recipient_id']]['name']|default="<span class='iconfont icon-nothing gray3'></span>"}</td></if>

                                        <if condition="isset($ticketView[8]['is_view']) && $ticketView[8]['is_view']"><td mini='ticket'>{$members[$vo['dispose_id']]['name']|default="<span class='iconfont icon-nothing gray3'></span>"}</td></if>

                                        <if condition="isset($ticketView[15]['is_view']) && $ticketView[15]['is_view']"><td mini='ticket'>{$templateType[$vo['type_id']]['lang_name']}</td></if>

                                        <if condition="isset($ticketView[16]['is_view']) && $ticketView[16]['is_view']"><td mini='ticket'>{$template[$vo['ticket_model_id']]['lang_name']}</td></if>

                                        <if condition="isset($ticketView[9]['is_view']) && $ticketView[9]['is_view']"><td mini='ticket'>{$vo.create_time|getDates}</td></if>

                                        <if condition="isset($ticketView[10]['is_view']) && $ticketView[10]['is_view']">

                                            <td id="time{$vo.ticket_id}" class="istime orange4" mini='ticket'>

                                                <eq name="vo.status_id" value="$vo['end_status_id']">

                                                    <span style="color:{$ticket_status[$vo['end_status_id']]['status_color']}">

                                                        {$ticket_status[$vo['end_status_id']]['lang_name']}

                                                    </span>

                                                <else />

                                                    <if condition="$vo['taking']['day'] gt 0"><span class="day">{$vo.taking.day}{:L('DAYS')}</span></if>

                                                    <if condition="$vo['taking']['hour'] gt 0"><span class="hour">{$vo.taking.hour}{:L('HOURS')}</span></if>

                                                    <if condition="$vo['taking']['min'] gt 0"><span class="hour">{$vo.taking.min}{:L('MINUTES')}</span></if>

                                                </eq>

                                            </td>

                                        </if>

                                        <if condition="isset($ticketView[11]['is_view']) && $ticketView[11]['is_view']"><td mini='ticket'>{$vo.ticket_no}</td></if>

                                        <if condition ="$deadTimes[$vo['ticket_id']]['deadtime'] gt 0">

                                            <if condition="isset($ticketView[12]['is_view']) && $ticketView[12]['is_view']"><td mini='ticket'>{:checkTicketIsTimeout($deadTimes[$vo['ticket_id']]['deadtime'],$vo['end_time'])}</td></if>

                                            <if condition="isset($ticketView[13]['is_view']) && $ticketView[13]['is_view']"><td mini='ticket'>{:checkTicketIsTimeout($deadTimes[$vo['ticket_id']]['deadtime'],$vo['end_time'],1)}</td></if>

                                        <else />

                                            <if condition="isset($ticketView[12]['is_view']) && $ticketView[12]['is_view']"><td mini='ticket'>{:checkIsTimeout($vo['ticket_id'],$vo['create_time'],$vo['end_time'])}</td></if>

                                            <if condition="isset($ticketView[13]['is_view']) && $ticketView[13]['is_view']"><td mini='ticket'>{:checkIsTimeout($vo['ticket_id'],$vo['create_time'],$vo['end_time'],1)}</td></if>

                                        </if>

                                    </tr>

                                </volist>

                            <else />

                                <tr class="nodata center">

                                    <td colspan="20">

                                        <p><i class="iconfont icon-nothing fts20"></i></p>

                                        <p>{:L('NO_DATA')}</p>

                                    </td>

                                </tr>

                            </notempty>

                        </tbody>

                    </table>

                </div>

                <div class="ticket-item-footer">

                    <input type="checkbox" name="" lay-skin="primary" lay-filter="ListAllChoose" title="{:L('CHECK_ALL')}">

                    <notempty name="page"><div class="user-page">{$page}</div></notempty>

                </div>

            </div>

        </div>

    </div>

    <notempty name="auth.export">

        <!-- 导出工单 -->
        <div class="export-ticket hidden">

            <form action="" method="get" id="exportForm">

                <div class="export-ticket-tab">
                    {:L('PUBLIC_FORM')}
                    <div class="export-select-all layui-form">
                        <input type="checkbox" name="" lay-skin="primary" title="{:L('CHECK_ALL')}" lay-filter="exportTicketAllChoose">
                    </div>
                </div>

                <ul>

                    <volist name="exportList" id="vo">

                        <li>

                            <a href="javascript:">{$vo.name} <i class="iconfont icon-gou1"></i></a>

                            <input type="checkbox" name="exportList[]" value="{$vo.identity}" class="hidden" />

                        </li>

                    </volist>

                </ul>

                <notempty name="ticketForm">

                    <div class="export-ticket-tab">{:L('TEMPLATE_FORM')}</div>

                    <ul>

                        <volist name="ticketForm" id="vo">

                            <li>

                                <a href="javascript:">{$vo.name} <i class="iconfont icon-gou1"></i></a>

                                <input type="checkbox" name="exportList[form][id][]" value="{$vo.id}" class="hidden" />

                                <input type="checkbox" name="exportList[form][name][]" value="{$vo.name}" class="hidden" />

                            </li>

                        </volist>

                    </ul>

                </notempty>

                <div class="export-ticket-footer">

                    <div class='export-note'><p>{:L('EXPORT_INSTRUCT')}</p><p>1. {:L('EXPORT_INSTRUCT1')}</p><p>2. {:L('EXPORT_INSTRUCT2')}</p></div>

                    <a href="javascript:" class="feelecBtn" id="startExport">{:L('START_EXPORT')}</a>

                </div>

            </form>

        </div>

        <script type="text/javascript">

            layui.use(['form'],function ()
            {
                var form = layui.form,exportWindow,allChecked,exportOptionCheckedLength = 0,exportOption = $(".export-ticket ul a");

                $('#exportTicket').on('click',function()
                {
                    exportWindow = layer.open(
                    {
                        type:1,
                        title:"{:L('SELECT_EXPORT')}",
                        offset:['7vw'],
                        area:['700px'],
                        content: $(".export-ticket")
                    });
                });

                form.on('checkbox(exportTicketAllChoose)',function(data)
                {
                    allChecked = data.elem.checked;

                    if(allChecked === true)
                    {
                        exportOptionCheckedLength = exportOption.length;

                        exportOption.addClass('select-this').nextAll('input').prop('checked',true);
                    }
                    else
                    {
                        exportOptionCheckedLength = 0;

                        exportOption.removeClass('select-this').nextAll('input').prop('checked',false);
                    }
                });

                exportOption.on('click',function()
                {
                    var obj = $(this);

                    if(obj.hasClass('select-this'))
                    {
                        obj.removeClass('select-this').nextAll('input').prop('checked',false);

                        if(exportOptionCheckedLength > 0) exportOptionCheckedLength--;
                    }
                    else
                    {
                        obj.addClass('select-this').nextAll('input').prop('checked',true);

                        exportOptionCheckedLength++;
                    }

                    if(exportOptionCheckedLength === exportOption.length)
                    {
                        $("input[lay-filter='exportTicketAllChoose']").prop('checked',true);
                    }
                    else
                    {
                        $("input[lay-filter='exportTicketAllChoose']").prop('checked',false);
                    }

                    form.render();
                });

                $("#startExport").on('click',function()
                {
                    var loading = layer.load(2,{offset:'15vw'});

                    $.get("/Ticket/export?action={$Think.ACTION_NAME}",$("#exportForm").serialize(),function(data)
                    {
                        if(data.msg === 'success')
                        {
                            feelDeskAlert("{:L('EXPORT_SUCCESS')}",data);

                            //关闭弹窗、取消选中导出项
                            exportOptionCheckedLength = 0;

                            exportOption.removeClass('select-this').nextAll('input').prop('checked',false);

                            layer.close(exportWindow);

                            $("input[lay-filter='exportTicketAllChoose']").prop('checked',false);

                            form.render();
                        }
                        else
                        {
                            feelDeskAlert(data.msg);
                        }
                    });

                    layer.close(loading);
                });
            });

        </script>

    </notempty>

    <notempty name="auth.import">

        <!-- 导入工单 -->
        <div class="import-ticket hidden">

            <form action="" method="post" id="importForm" class="center layui-form">

                <div class="import-ticket-main">

                    <div class="import-select-template">

                        <input type="hidden" name="source" value="ticket">

                        <select name="template_id" lay-search id="import-template-id">

                            <option value="">{:L('SELECT_TEMPLATE')}</option>

                            <volist name="template" id="vo">

                                <option value="{$vo.ticket_model_id}" <in name="vo.ticket_model_id" value="$filter['template_id']">selected</in>>{$vo.lang_name}</option>

                            </volist>

                        </select>

                    </div>

                    <div class="layui-upload-drag" id="upload-ticket">

                        <i class="layui-icon"></i>

                        <p>{:L('CLICK_UPLOAD_DRAG')}</p>

                    </div>

                    <div class="attachment"></div>

                    <div class="import-explain">

                        <p>{:L('IMPORT_INSTRUCT1')}</p>

                        <p>{:L('IMPORT_INSTRUCT2')}</p>

                        <a href="/Attachs/excel/Ticket.xlsx"><i class="iconfont icon-xiazai"></i>{:L('DOWNLOAD_EXCEL')}</a>

                    </div>

                </div>

                <div class="import-ticket-footer"><a href="javascript:" class="feelecBtn disabled" id="startImport">{:L('START_IMPORT')}</a></div>

            </form>

        </div>

        <script type="text/javascript">

            $(function()
            {
                $('#importTicket').on('click',function()
                {
                    layer.open(
                    {
                        type:1,
                        title:"{:L('IMPORT_TICKET')}",
                        offset:['7vw'],
                        area:['700px'],
                        content: $(".import-ticket")
                    });
                });

                layui.use(['form','upload'],function()
                {
                    var upload = layui.upload;

                    var loading;

                    upload.render(
                    {
                        elem: '#upload-ticket',
                        url: '/Ticket/import',
                        auto: false, //选择文件后不自动上传
                        bindAction: '#startImport', //指向一个按钮触发上传
                        field:'excel',
                        accept:'file',
                        exts:'xlsx|xls',
                        acceptMime:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel',
                        data: {
                            template_id:function ()
                            {
                                return $('#import-template-id').val();
                            }
                        },
                        choose: function(obj)
                        {
                            obj.preview(function(index, file, result)
                            {
                                $('.attachment').text(file.name);

                                $('#startImport').removeClass('disabled');
                            });
                        },
                        before:function(obj)
                        {
                            loading = layer.load(2,{offset:'150px'});
                        },
                        done:function(result, index, upload)
                        {
                            layer.close(loading);

                            if(result.status === 1)
                            {
                                feelDeskAlert(result.msg,result);
                            }
                            else
                            {
                                feelDeskAlert(result.msg);
                            }
                        }
                    });
                });
            })

        </script>

    </notempty>

    <script type="text/javascript">

        var action = "{$Think.ACTION_NAME}";

    </script>

    <script src='INDEX_PUBLIC_JS/ticket.js'></script>

</block>
