<extend name="Public:common"/>

<block name="crumb1">{:L('TICKET_MANAGER')}</block>

<block name="crumb2">{:L('TICKET_RECYCLE')}</block>

<block name="content">

    <div class="ticket-item">

        <form action="/Ticket/{$Think.ACTION_NAME}" method="get" id="searchFilter" class="layui-form">

            <div class="item-header clearfix">

                <!-- 右侧按钮 -->
                <div class="item-header-right fr">

                    <div class="ticket-search clearfix">

                        <if condition="$recycleData['completeDeleteAuth'] || $recycleData['recoverTicketAuth']">

                            <div class="compact-menu">

                                <gt name="recycleData.completeDeleteAuth" value="0">

                                    <a href="javascript:" title="{:L('DELETE_TICKET')}" class="left-radius-5 disabled" id="batchDeleteTicket" action="{:U('complete_delete')}">

                                        <i class="iconfont icon-shanchu"></i>

                                    </a>

                                </gt>

                                <gt name="recycleData.recoverTicketAuth" value="0">

                                    <a href="javascript:" title="{:L('BATCH_RECOVER')}" class="recover right-radius-5 disabled" id="batchRecover" action="{:U('recover')}">

                                        <i class="iconfont icon-chehui"></i>

                                    </a>

                                </gt>

                            </div>

                        </if>

                        <div class="compact-search">

                            <i class="iconfont icon-search"></i>

                            <input type="text" name="keyword" value="{$keyword}" placeholder="{:L('NUMBER_TITLE')}"/>

                            <a href="javascript:" class="searchBtn">{:L('SEARCH')}</a>

                        </div>

                    </div>

                </div>

            </div>

        </form>

        <div class="item-content layui-form">

            <div id='list' class="ticket-list-item list-item">

                <div class="ticket-list-main">

                    <table class="layui-table" lay-skin="nob">

                        <thead>

                            <tr>

                                <th></th>

                                <th class="left"><span class="pointer">{:L('TICKET_TITLE')}</span></th>

                                <th><span class="pointer ticketview" >{:L('TICKET_ID')}</span></th>

                                <th><span class="pointer">{:L('DELETE_OPERATOR')}</span></th>

                                <th><span class="pointer">{:L('DELETE_TIME')}</span></th>

                                <th><span class="pointer">IP</span></th>

                                <th><span class="pointer">{:L('OPERATION')}</span></th>

                            </tr>

                        </thead>

                        <tbody>

                            <if condition="$recycleData['tickets']">

                                <volist name="recycleData.tickets" id="vo">

                                    <tr data-id="{$vo.ticket_id|encrypt='TICKET'}">

                                        <td class="checkbox relative" data-value="{$vo.ticket_no}">

                                            <input type="checkbox" name="batch[]" lay-skin="primary" value={$vo.ticket_id|encrypt='TICKET'} lay-filter="ListChoose">

                                        </td>

                                        <td class='ellipsis ticket-title' mini='ticket'><span class="w200 middle">{$vo.title}</span></td>

                                        <td mini='ticket'><span class="w200 middle">{$vo.ticket_no}</span></td>

                                        <td mini='ticket'><span>{$recycleData['members'][$vo['delete_member_id']]['name']}</span></td>

                                        <td mini='ticket'><span>{$vo.delete_time|getDates}</span></td>

                                        <td mini='ticket'><span>{$vo.delete_ip}</span></td>

                                        <td class="feeldesk-list-operate">

                                            <if condition="$recycleData['completeDeleteAuth']">

                                                <a href="javascript:" class="iconfont icon-shanchu" title="{:L('COMPLETE_DELETE')}"
                                                   onclick="confirmWindow(this,'/ticket/complete_delete/ticket_ids/{:encrypt($vo[\'ticket_id\'],\'TICKET\')}')"></a>

                                            </if>

                                            <if condition="$recycleData['recoverTicketAuth']">

                                                <a href="javascript:" class="iconfont icon-chehui" title="{:L('RECOVERY_TICKET')}"
                                                   onclick="confirmWindow(this,'/ticket/recover/ticket_ids/{:encrypt($vo[\'ticket_id\'],\'TICKET\')}')"></a>

                                            </if>

                                        </td>

                                    </tr>

                                </volist>

                            <else />

                                <tr class="nodata center"><td colspan="20">{:L('NO_DATA')}</td></tr>

                            </if>

                        </tbody>

                    </table>

                </div>

                <div class="ticket-item-footer">

                    <input type="checkbox" name="" lay-skin="primary" lay-filter="ListAllChoose" title="{:L('CHECK_ALL')}">

                    <notempty name="page"><div class="user-page">{$page}</div></notempty>

                </div>

            </div>

        </div>

    </div>

</block>